/* .sensor-dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
} */

.button.download-button {
  padding: 0.5rem 1.5rem;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button.download-button:hover {
  background-color: #218838;
}


.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}


.panel {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.panel-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}


.status-indicator.off {
  background: rgb(212, 51, 51);
}

.status-indicator.on {
  background: rgb(3, 85, 7);
}

.status-indicator.dry {
  background: rgb(231, 231, 73);
}

.status-indicator.moist {
  background: rgb(69, 228, 109);
}

.status-indicator.wet {
  background: rgb(3, 255, 15);
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  /* border-radius: 50%; */
}
.button.stop-button {
  background-color: #e41212;
}
.button.start-stream {
  background-color: #e41212;
}
.button.stop-stream {
  background-color: #e41212;
}

.button.capture-button{
  background-color: #1308a7;
}

.toggle-button {
  background: blue;
}

.clear-button {
  background: red;
}

.hist ul {
  list-style: none;
  padding: 0;
}

.hist li {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 10px;
}
